@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Asap&family=Baloo+2:wght@500&family=Pacifico&display=swap');

body{
    background-color: #202124;
}
h4{
    color: white;
    font-weight: 100;
}
.row{
    display: flex;
    padding: 4px;
    height: 30px;
    background-color: crimson;
    width:fit-content;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.row i{
    padding: 2px;
}
.row h4 {
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-self: center;
    text-decoration: none;
    font-family: monospace;
    font-size:1.3vmax;
    margin: 0px;
  }

.bar{
    display: flex;
}
.greybar{
    background-color: #3C4043;
    width:100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.greybar  h4 {
    display: block;
    color: white;
    padding: 2px;
    padding-top:10px;
    padding-left: 16px;
    text-decoration: none;
    font-size:1.1vmax;
    margin: 0px;
    font-family: 'Asap', sans-serif;
    letter-spacing: 2px;
    
  }
.presentation{
    background-color: white;
    border-radius: 10px;
    height: 550px;
    width: 1150px;
    margin: 20px;
    margin-right: 60px;
    margin-left: 60px;
}
.presentation img{
    width: 100%;
}
.student{
    position: relative;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    background-color:#3C4043 ;
    margin-top: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
    border: 20%;

}
.card{
    flex-direction: column;
}

.student img{
    height: 60px;
    border-radius: 50%;
}
.student .icon{
position: absolute;
}
.student .pin {
    position: absolute;
    opacity: 0;
    top:30%;
    left: 20%;
     width: 100%;
     height: 100%;
}
.popup{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 60%;
    height: 40%;
    background-color: #2d3033;
    opacity: 0.8;
    border-radius: 10px;
}
.popup h3{
    color: white;
    font-family: monospace;
}
.student .pin:hover{
    opacity: 1;
}
footer{
    width: 100%;
    height: 30px;
}
.txt{
    position: absolute;
    left :0px;
    bottom: 10px;
}
.txt h4{
    display: block;
        color: white;
        padding: 2px;
        text-decoration: none;
    font-size:1.05vmax;
    margin: 0px;
    margin-left: 10px;
    font-weight: 500;
    font-family: 'Asap', sans-serif;
    letter-spacing: 2px;
}

.cntr{
    position: absolute;
     left: 36%; 
    bottom: 15px;
    width: fit-content;
}
.cntr .bar :hover{
    background-color:crimson ;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3C4043 ;
width: 40px;
height: 40px;
border-radius: 20px;
margin: 8px;
}
.icon img{
    align-items: center;
}

.end{
    position: absolute;
    right: 10px;
    bottom: 15px;
    width: fit-content;
}
.end .icon {
    background-color: transparent;
}
.end .bar :hover{
    background-color:#3C4043;
}
.mic{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
}